/**
 * @file
 * Styles for NJALA2020's buttons.
 */
.nu-style-sharp .sf-menu ul {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nu-style-oval .sf-menu ul {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.nu-style-oval .sf-menu ul > li:first-child > a {
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
.nu-style-oval .sf-menu ul > li:last-child > a {
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}
.nu-style-rounded .sf-menu ul {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nu-style-rounded .sf-menu ul > li:first-child > a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nu-style-rounded .sf-menu ul > li:last-child > a {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.nu-style-menu-sharp .sf-menu ul {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nu-style-menu-oval .sf-menu ul {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.nu-style-menu-oval .sf-menu ul > li:first-child > a {
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
.nu-style-menu-oval .sf-menu ul > li:last-child > a {
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}
.nu-style-menu-rounded .sf-menu ul {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nu-style-menu-rounded .sf-menu ul > li:first-child > a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nu-style-menu-rounded .sf-menu ul > li:last-child > a {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
