/**
 * @file
 * Visual styles for nu-tab field in NJALA2020.
 */
.field--name-field-nu-prd-content-tabs {
  margin: 40px 0 60px;
  padding-bottom: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eaeaea;
}
